@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --index: calc(1vw + 1vh);
    --gutter: 30px;
    --side-small: 26;
    --side-big: 36;
    --depth: 4000px;
    --transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1);
  }

  body {
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome and Safari */
  }

  @font-face {
    font-family: raleway_c;
    src: url(./assets//fonts/raleway-v22-cyrillic-300.woff2);
    font-weight: 300;
  }
  @font-face {
    font-family: raleway_c;
    src: url(./assets/fonts/raleway-v22-cyrillic-100.woff2);
    font-weight: 100;
  }
}

@layer base {
  body {
    background-color: #000;
    color: #fff;
    font-size: calc(var(--index) * 0.8);
    font-family: raleway_c, sans-serif;
    line-height: 1.75;
    height: var(--depth);
    font-weight: 300;
  }
}
